#suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: 200px;
    display: none; /* Hidden until there are suggestions */
    z-index: 1000;
  }
  
  #suggestions div {
    padding: 8px;
    cursor: pointer;
  }
  
  #suggestions div:hover {
    background-color: #f0f0f0;
  }

  .rentalunit {
    width: 700px;
    height: 500px;
    display: grid;
    font-family: 'Times New Roman';
    background-color:#3c009d;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }